<%= render 'layouts/wrapper' do %>
    <h3 class="center blue-text text-darken-4">Add Tv Show</h3>
    <div class="container">
        <%= render "tv_shows/form_errors" %>
        <%= form_for @tv_show do |f| %>
            <div class="input-field">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>

            <%= f.submit "Add Tv Show", class: "btn blue darken-4" %>
        <% end %>
    </div>
<% end %>